In [3]:
#Q1
def function(l,t):
    if t=='asc':
        l.sort()
    else:
        l.sort(reverse=True)
    print(l)
list=[1,5,4,9,3,2]
t=input("Enter 'asc' to print in ascending order.Enter 'desc' for descending order=\n")
function(l,t)

Enter 'asc' to print in ascending order.Enter 'desc' for descending order=
desc
[9, 5, 4, 3, 2, 1]

In [1]:
#Q2
def creditcard(l):
    l=l[len(l)-4:]
    return l
l=input("Enter the credit card number")
print(creditcard(l))

Enter the credit card number4444444444
4444

In [ ]:
#Q3
def function(x,y,operation):
    if operation=="+":
        return x+y
    elif operation=="-":
        return x-y
    elif operation=="/":
        return x/y
    elif operation==".":
        return x*y
x=int(input("Enter the first number="))
y=int(input("Enter the second number="))
operation=input("Enter which operation you want to do=")
print(function(x,y,operation))

Enter the first number=5
Enter the second number=4
9

In [24]:
#Q4
def string(str):
  v=len(str)
  new_str=" "
  for i in range(v):
     new_str = new_str + (str[i]*2)
  return new_str

m=input("enter the string=")
print(string(m))

enter the string=abc
 aabbcc

In [40]:
#Q5
import random
def duplicate(list):
    for i in list:
      if list.count(list[i]>1):
        return (list[i])
randomlist=[]
for x in range(1,99):
    n=random.randint(1,99)
    randomlist.append(n)
print("the element which is duplicate is",duplicate(randomlist))

the element which is duplicate is 6

In [4]:
#Q6
import math
x=int(input("Enter the  range"))
for i in range(2,x+1):
    flag=0
    for j in range(2,int(math.sqrt(i)+1)):
            if i%j==0:
                flag=1
                break
    if flag==0:
       print(i)

Enter the  range5
2
3
5

In [7]:
#Q7
from scipy import stats
list=[]
y=int(input("Enter the numbers of elements="))
print("Enter the elements")
for i in range(y):
    ele=int(input())
    list.append(ele)
print(stats.mode(list))

Enter the numbers of elements=3
Enter the elements
3
3
3
ModeResult(mode=array([3]), count=array([3]))

In [10]:
#Q8
r=input("Enter the string")
sum=0;
for i in range(len(r)):
    if ord(r[i])>=ord("0") and ord(r[i])<=ord("9"):
                sum=sum+int(r[i])
    else :
        continue
print(sum)

Enter the string34ert
7

In [ ]:
#Q9
o=input("Enter the string")
sorted_str=''.join(sorted(o))
print("The sorted string is ",sorted_str)

Enter the stringbcafehg
The sorted string is  abcefgh

In [41]:
#Q10
i=int(input("Enter the first number"))
j=int(input("Enter the second number"))
i=i^j
j=i^j
i=i^j
print(i,j)

Enter the first number3
Enter the second number4
4 3